@page
@model PDSA.Pages.WorkUnit.WorkProcess.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Redigera problem</h2>
<form>
    <div class="form-group">
        <label asp-for="@Model.Problem.Name"></label>
        <input class="form-control" asp-for="@Model.Problem.Name" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.Problem.Description"></label>
        <input class="form-control" asp-for="@Model.Problem.Description" />
    </div>
    <input class="btn btn-danger" type="submit" value="Ta bort problemet" />
    <input class="btn btn-success" type="submit" value="Spara förändringar" />
</form>